@font-face {
		font-family: 'Crimson Text';
		src: url('fonts/CrimsonText-Regular.ttf');
}

html {
	font-family: 'Crimson Text';
	font-size: 1.45em;
  height: 100%;
}

body {
  color: #000;
  background-color: #fff;
  font-size: 20px;
  word-wrap: break-word;
  font-kerning: normal;
  margin: 0 auto;
  margin-bottom: 1 em;
  max-width: 800px;
  line-height: 28px;
  padding: 0 8px;
}

a:link,
a:visited {
  font-size: 16px !important;
  border-bottom: solid #AC3B61 1px;
  color: #000;
  padding: 5px 0;
  margin: 0 auto;
  text-decoration: none;
  align-items: center;
  margin-bottom: 1em;
  margin: 12px auto;
  max-width: 672px;

}

a:hover {
  color: #AC3B61;
  border-bottom: solid #000 3px;
}

a:active {
  border-bottom: solid #f00 1px;
}

div {
  max-width: 672px;
  margin: 0 auto;
  padding: 5px 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: normal;
  line-height: 1.2em;
  margin: 12px auto;
  max-width: 500px;
  padding: 5px 0;
}

h1.title {
  font-size: 1.45em;
  border-bottom: solid #000 1px;
  text-align: center;
  margin: 12px auto;
  max-width: 500px;
}

#preamble img {
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

#content {
  max-width: 500px;
  margin: 0 auto;
}

#preamble {
  font-weight: bold;
  line-height: 24px;
  border-bottom: solid #000 4px;
  margin-bottom: 1em;
  padding: 5px 0;
  margin: 12px auto;
  max-width: 672px;
}

#preamble a:link, #preamble a:visited {
  max-width: 500px;
  display: inline-block;
  border: none;
  margin: 0 auto;
  padding: 5px 0;
  /* margin-bottom: 1em; */
  margin-right: 1em;
  text-decoration: none;
}

#preamble a:active, #preamble a:hover {
  border: none;
  background-color: transparent;
  color: #f00;
}

#postamble {
  max-width: 672px;
  border-top: solid #BAB2B5 1px;
  color: #000;
  font-style: italic;
  text-align: right;
  margin: 1em auto;
  padding: 0 1em;
}

#postamble a.source-link:link,
#postamble a.source-link:visited {
  margin-bottom: 16px;
  border-bottom: none;
  color: #ccc;
  font-family: monospace;
  font-size: .8em;
  font-style: normal;
  line-height: 24px;
  text-transform: lowercase;
  text-decoration: none;
}

#postamble a.source-link:hover,
#postamble a.source-link:active {
  background-color: transparent;
  color: #0f0;
}

hr {
  max-width: 696px;
  border: 1px solid #000;
}

p, ul {
  margin: 12px auto;
  max-width: 500px;
}

sup {
  line-height: 0;
  font-size: 12px;
}

table {
  margin: 12px auto;
  max-width: 500px;
}

li ul {
  margin-top: 0;
  margin-bottom: 0;
}

li p {
  font-size: 16px !important;
  margin: 0;
}

pre {
  margin: 0 auto;
  max-width: 500px;
}

div.figure {
  text-align: center;
}

div.figure {
  text-align: center;
}

div.figure p, div.figure img {
  max-width: 800px;
}
